<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- [START standard_mappings] -->
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>fr.polytech.unice.servelets.CreateUserServelet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>fr.polytech.unice.utils.OfyHelper</listener-class>
    </listener>
    <!-- [END standard_mappings] -->

    [START Objectify]
    <!-- <filter>
       <filter-name>ObjectifyFilter</filter-name>
       <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>ObjectifyFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
     <listener>
       <listener-class>fr.polytech.unice.utils.OfyHelper</listener-class>
     </listener>-->
    [END Objectify]
</web-app>


        <?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
<servlet>
    <servlet-name>IndexMiscServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.misc.IndexMiscServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>SigninUserServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.user.SigninUserServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>SignoutUserServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.user.SignoutUserServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.user.RegisterUserServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>HistoryUserServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.user.HistoryUserServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.file.UploadFileServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>fr.polytech.cc.project.servlet.file.DownloadFileServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>IndexMiscServlet</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SigninUserServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SignoutUserServlet</servlet-name>
    <url-pattern>/signout</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>HistoryUserServlet</servlet-name>
    <url-pattern>/history</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
</servlet-mapping>

<filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<listener>
    <listener-class>fr.polytech.unice.utils.OfyHelper</listener-class>
</listener>
</web-app>